---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<div id="content">

<br>
<h3 style="font-weight:bolder;">Georgia Tech</h3>
		
<p>Fall 2025: Algebraic Geometry I (Math 6421)</p>


<h3 style="font-weight:bolder;">University of Utah</h3>  

<p>Spring 2025: Algebraic Geometry II (Math 6140)</p>

<p>Spring 2025: Algebraic Topology (Math 6520)</p>

<p>Fall 2024: Algebraic Geometry I (Math 6130)</p>

<p>Spring 2024: Complex Geometry (Math 6180)</p>

<p>Fall 2023: Engineering Calculus I (Math 1310) </p>

<p>Spring 2023: Modern Algebra II (Math 5320)</p>

<p>Fall 2022: Topics in Algebraic Geometry (Math 7800)</p>

<p>Spring 2022: Foundations of Analysis  (Math 3210)</p>


</div>
